extends layout

block content
  #main
    p Welcome to glowworm
    .row
      .five.columns
        h2 My Feed
      .three.columns
        h2 Latest News
        p We're working hard on getting glowworm ready for launch. Today's updates include work on allowing you to follow and unfollow other users, and the first update to this news section.
      .four.columns
        h2 Story of the Day
