extends layout

block content
  #main
    h2.
      #{profile.displayname}
    if user.idusers == profile.idusers
      p
        a(href='/myprofile/edit') Edit my profile
    else
      button.btn.btn-primary(type="button") Follow
