extends layout

block content
  #main
    h2.
      All Stories
    table
      tr
          th.
              Title
          th. 
              Author
          th.
              ID
          th.
              Date Added
          th.
          th.
          th.
      - each story, i in stories
          tr
              td
                  = story.title
              td
                  = story.author
              td
                  = story.idstories
              td
                  = story.dateAdded
              td 
                  a(href='/stories/#{story.idstories}/edit') Edit
              td
                  a(href='/stories/#{story.idstories}') Show
              td
                  a(href='#{story.url}') Read