/*https://coolors.co/app/236b8e-ffffff-000000-f61067-5e239d*/

body {
  padding: 25px;
}

h1 {
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(255,255,255,1);
  text-decoration: normal;
  /*-o-text-overflow: clip;*/
  /*text-overflow: clip;*/
  white-space: pre;
  text-shadow: 0 0 10px #FFFFFF ,0 0 15px #FFFFFF , 0 0 20px #FFFFFF ,0 0 25px #FFFFFF , 0 0 30px #FFFFFF ,0 0 35px #FFFFFF , 0 0 40px #236B8E , 0 0 70px #236B8E , 0 0 80px #236B8E , 0 0 100px #236B8E, 0 0 110px #236B8E, 0 0 120px #236B8E, 0 0 130px #236B8E, 0 0 140px #236B8E, 0 0 150px #236B8E, 0 0 45px #236B8E, 0 0 55px #236B8E, 0 0 65px #236B8E, 0 0 75px #236B8E;
  margin-bottom: 2.5rem;
}

a:hover {
  color: #5E239D;
}

h1 a:hover{
  color: #FFFFFF;
  text-shadow: 0 0 10px #FFFFFF ,0 0 15px #FFFFFF , 0 0 20px #FFFFFF ,0 0 25px #FFFFFF , 0 0 30px #FFFFFF ,0 0 35px #FFFFFF , 0 0 40px #FFFFFF , 0 0 70px #FFFFFF , 0 0 80px #236B8E , 0 0 100px #236B8E, 0 0 110px #236B8E, 0 0 120px #236B8E, 0 0 130px #236B8E, 0 0 140px #236B8E, 0 0 150px #236B8E, 0 0 45px #FFFFFF, 0 0 55px #FFFFFF, 0 0 65px #FFFFFF, 0 0 75px #236B8E;
}

h2 {
  text-shadow: 0 0 10px #236B8E
}

#nav {
 margin: 13px 0 0 0;
 font-weight: bold;
}
 
#nav ul li {
 display: inline;
 margin: 0 20px 0 0;
 margin-bottom: 130px;
}
 
#nav a {
 text-decoration: none;
}
 

h1 a {
 text-decoration: none;
 color: #FFFFFF;
}

#loginheader {
  color: #090c02;
  text-align: right;
  margin: 0px;
  padding: 10px;
}

#loginheader p {
  margin: 0px;
  padding: 0px;
}

#loginheader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#loginheader li{
  display: inline-block;
  padding: 10px;
  text-align: right;
}

#loginheader a {
  color: #090c02;
}

#ratings {
  color: #F61067;
}

.hidden {
  display: none;
}

.search {
  padding: 10px;
  text-align: right;
  float: right;
  vertical-align: center;
}

@media (min-width: 550px) {
  h1 { font-size: 7.0rem; }

.read:hover {
  background-color: #5E239D;
}

.unread {
  border: solid 2px #F61067;
  padding: 10px;
}

.read {
  padding: 10px;
}

.unread:hover {
  background-color: #5E239D;
}

.fullwidth {
  width: 100%;
}